@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown button
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <input class="dropdown-item" type="button" name="1player" value="1" />
                <input class="dropdown-item" type="button" name="2player" value="2" />
                <input class="dropdown-item" type="button" name="3player" value="3" />
                <input class="dropdown-item" type="button" name="4player" value="4" />
            </div>
        </div>
    </div>
</div>