@{
    ViewBag.Title = "Home Page";
}
@*//card to select number of players*@
<div class="card mx-auto" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title mx-auto">Please select the number of players</h5>
        <div class="card-text">
            <form action="/" method="post">
                <div class="dropdown">
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Select Number of Players
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item playersCount" id="players2" onclick="playersCount()">2</a>
                        <a class="dropdown-item playersCount" id="players3">3</a>
                        <a class="dropdown-item playersCount" id="players4">4</a>

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@* enter player details form *@
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script>
    var dropdownList = $("#dropdownMenuLink");
    function playersCount() {

    }
</script>